<div>
  <!-- 本リリース時にuserのアイコンを表示できるように実装 -->
	<div>
		<p><%= comment.user.name %></P>
    <p><%= simple_format(comment.body)%></p>
	</div>
  <% if current_user.own?(comment) %>
	  <div>
      <!-- 編集機能は本リリース時に実装" -->
			<%= link_to"削除", comment_path(comment), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %>
		</div>
	<% end %>
</div>